historia, .poderes {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
    color: #03062c;
    font-family: 'Roboto Slab';
}

.historia h2, .poderes h2 {
    color: #880319;
    margin-bottom: 18px;
  
}

.poderes ul {
    list-style: none;
    padding: 0;
}

.poderes li {
    margin: 10px 0;
    font-size: 1.1em;
}

footer {
    background-color: #880319;
    color: #f5d41cd2;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Styles', sans-serif;
}

header {
    background-color: #880319; 
    color: #f5d41cd2;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #03062c; 
    color: rgb(241, 239, 233);
    padding: 50px 20px;
}

.hero img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero .content h2 {
    color:#f5d41cd2 ;
    margin-bottom: 15px;
}

.hero .content p {
    max-width: 600px;
    margin: 0 auto 20px;
    line-height: 1.6;
}


.btn {
    background-color: #f5d41cd2;
    color: #880319;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #edeee7;
    color: #880319;
}
 header {
            background-color: #880319; 
            color: #f5d41cd2;
            text-align: center;
            padding: 20px 0;
            font-size: 2em;
            font-weight: bold;
        }

        body {
            background-color: #03062c;
            color: rgb(241, 239, 233);
        }

        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: #03062c; 
            color: rgb(241, 239, 233);
            padding: 50px 20px;
        }

        .hero img {
            width: 300px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .hero .content h2 {
            color: #f5d41cd2;
            margin-bottom: 15px;
        }

        .hero .content p {
            max-width: 600px;
            margin: 0 auto 20px;
            line-height: 1.6;
        }

        .btn {
            background-color: #f5d41cd2;
            color: #880319;
            padding: 10px 20px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            transition: 0.3s;
        }

        .btn:hover {
            background-color: #ffecb3;
            color: #880319;
        }

